[submodule "jam-conformance"]
	path = jam-conformance
	url = https://github.com/davxy/jam-conformance.git
[submodule "jam-test-vectors"]
	path = jam-test-vectors
	url = https://github.com/davxy/jam-test-vectors.git
