[submodule "jam-conformance"]
	path = jam-conformance
	url = https://github.com/davxy/jam-conformance.git
[submodule "picofuzz-data"]
	path = picofuzz-data
	url = git@github.com:FluffyLabs/picofuzz-data.git
